<!-- page.html -->
{{define "page"}}
<html><head>
  <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head><body>
  <h1>Edit Birthdays</h1>
  <table border="1" cellpadding="5">
    <tr><th>Name</th><th>Birth Date</th><th>Last Notification</th><th>Chat ID</th><th>Action</th></tr>
    {{range $i, $b := .}}
      {{template "row" dict "Idx" $i "B" $b}}
    {{end}}
    <tr id="row-new">
      <form hx-post="/save-row" hx-swap="beforeend">
        <input type="hidden" name="idx" value="-1">
        <td><input name="name"></td>
        <td><input name="birth_date"></td>
        <td><input name="last_notification"></td>
        <td><input name="chat_id"></td>
        <td><button type="submit">Add</button></td>
      </form>
    </tr>
  </table>
</body></html>
{{end}}

{{define "row"}}
<tr id="row-{{.Idx}}">
  <form hx-post="/save-row" hx-swap="outerHTML">
    <input type="hidden" name="idx" value="{{.Idx}}">
    <td><input name="name"  value="{{.B.Name}}"></td>
    <td><input name="birth_date" value="{{.B.BirthDate}}"></td>
    <td><input name="last_notification" value="{{.B.LastNotification}}"></td>
    <td><input name="chat_id" value="{{.B.ChatID}}"></td>
    <td><button type="submit">Save</button></td>
  </form>
</tr>
{{end}}
